<app-nav></app-nav>
  <div class="flex items-center">
    <div>
        <img src="../assets/report.png" alt="thumbnail" class="opacity-85 w-[650px] h-[700px] pt-12">
    </div>
    <div class="ml-20">
        <h1 class="text-white font-semibold text-2xl font-mono">Delve into the heart of your community <br>with our census data insights. Discover trends,<br> understand needs, and shape the future!</h1>
    </div>
</div>
<footer>
    <p class="text-gray-800 bg-white text-sm ps-[1150px] mt-3">Copyright © 2024  Sector 12. All rights reserved.</p>
</footer>
