<div class="flex items-center justify-center">
    <app-nav></app-nav>
    <div class="text-center bg-slate-400 w-[800px] h-[400px] mx-auto mt-[90px]">
        <h1 class="text-6xl font-thin text-white mt-[100px] ">Our Story</h1>
        <img src="../assets/people.png" alt="people" class="w-[650px] h-[500px] mx-[70px] mt-8">
        <p class="p-4 text-white">
            At our website, we are dedicated to providing comprehensive and insightful census data to empower individuals,
             businesses, and policymakers alike. With a commitment to transparency and accuracy, we curate and present 
             demographic information from various sources, offering a deep dive into population trends, socio-economic indicators,
              and cultural insights. Whether you're a researcher exploring migration patterns, 
            a business owner looking to understand local markets, or a citizen interested in the fabric of society,
             our platform aims to be your go-to resource. Our mission is to foster data-driven decision-making and promote a 
             deeper understanding of our communities, ultimately contributing to informed discussions and equitable outcomes.
        </p>
    </div>
</div>
