<app-nav></app-nav>
<div class="flex justify-center mt-[150px] bg-slate-400 w-[600px] h-[100px] ms-[500px]">
    <div class="mt-7">
        <form class="flex items-center"(submit)="onSubmit(searchInput.value)">
          <input  #searchInput type="text" name="search" placeholder="eg.John" class="px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring focus:border-blue-300">
          <button type="submit" class="px-4 py-2 bg-slate-700 text-white font-semibold rounded-r-md hover:bg-slate-900 focus:outline-none focus:bg-blue-600">Search</button>
        </form>
        <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
    </div>
  </div>
  <div>
    <div *ngIf = "showForm" class="bg-slate-50 w-[760px] mx-[400px]  mt-[170px] mb-8">
        <table class="border-collapse border border-gray-500 w-full">
            <thead>
                <tr>
                    <th class="border border-gray-500 p-2">User ID</th>
                    <th class="border border-gray-500 p-2">Name</th>
                    <th class="border border-gray-500 p-2">Age</th>
                    <th class="border border-gray-500 p-2">BloodGroup</th>
                    <th class="border border-gray-500 p-2">Email</th>
                    <th class="border border-gray-500 p-2">University</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let user of userProfile" class="bg-slate-200 hover:bg-slate-600">
                    <td class="border border-gray-500 p-2 text-center">{{ user.id }}</td>
                    <td class="border border-gray-500 p-2 text-center">{{ user.firstName }} {{ user.lastName }}</td>
                    <td class="border border-gray-500 p-2 text-center">{{ user.age }}</td>
                    <td class="border border-gray-500 p-2 text-center">{{ user.bloodGroup }}</td>
                    <td class="border border-gray-500 p-2 text-center">{{ user.email }}</td>
                    <td class="border border-gray-500 p-2 text-center">{{ user.university }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  